html, body {
    width: 100%;
    height: 100%;
    font-size: 10px;
    margin: 0;
    box-sizing: border-box;
    --inst_blue: #4c68d7;
}

.header {
    background-color: var(--inst_blue);
}

.title {
    text-transform: uppercase;
    font-size: 2.5rem;
    color: white;
    padding: 1em .5em;
    margin: 0;
}

/* Container for all thumbnail images */
.image_thumbnails {
    width: 90%;
    margin: 5em auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* Container for individual thumbnail */
.img_container {
    width: 30em;
    height: 30em;
    margin: 1em;
}

/* .img_container:hover {
    border: .6em solid var(--inst_blue);
    border-radius: 1em;
} */

.image, .lb_image {
    width: 100%;
    height: 100%;
}

/* Lightbox */

.lightbox_screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .75);
    display: flex;
    justify-content: center;
    align-items: center;
}

.hide {
    display: none;
}

.lightbox_container {
    width: 90%;
    background-color: white;
}

.lb_user_info {
    height: 6em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.lb_user_name {
    display: flex;
    align-items: center;
}

.lb_close_btn {
    font-size: 2em;
    padding: .5em;
}

.lb_img_container {
    width: 100%;
    height: 50em;
    position: relative;
}

.arrow_buttons {
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.back_arrow, .forward_arrow {
    font-size: 2em;
    font-weight: bold;
    background-color: rgba(211,211,211,.6);
    padding: .5em;
    margin: 0 .5em;
}

