html, body {
    width: 100%;
    height: 100%;
    font-size: 10px;
    margin: 0;
    box-sizing: border-box;
    --inst_blue: #4c68d7;
}

.header {
    background-color: var(--inst_blue);
}

.title {
    text-transform: uppercase;
    font-size: 2.5rem;
    color: white;
    padding: 1em .5em;
    margin: 0;
}

/* Container for all thumbnail images */
.image_thumbnails {
    width: 90%;
    margin: 5em auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.image-thumb {
    width: 30rem;
    height: 30rem;
    margin: 1rem;
}

.image-thumb:hover {
    border: .6rem colid var(--inst_blue);
    border-radius: .5rem;
}

/* Lightbox */

.lb_image {
    width: 100%;
    height: 100%;
}

.lightbox_screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .75);
    display: flex;
    justify-content: center;
    align-items: center;
}

.hide {
    display: none;
}

.lightbox_container {
    width: 60rem;
    background-color: white;
}

.lb_user_bar {
    height: 6em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.lb_user_items {
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    margin: 0 1rem;
}

.lb_user_name, .lb_spacer, .lb_follow, .lb_comment {
    padding-left: .5rem;
}

.lb_user_name {
    font-weight: bold;
}

.lb_comment {
    margin-left: 2rem;
}

.lb_close_btn {
    font-size: 2em;
    padding: .5em;
}

.lb_img_container {
    width: 60rem;
    height: 60rem;
    position: relative;
}

.lightbox-image {
    width: 60rem;
    height: 60rem;
}

.arrow_buttons {
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.back_arrow, .forward_arrow {
    font-size: 2em;
    font-weight: bold;
    background-color: rgba(211,211,211,.6);
    padding: .5em;
    margin: 0 .5em;
}

