/* =================  MEDIA QUERIES ====================== */

@media(min-width: 375px) {
    .lightbox-container {
        width: 37.5rem;
        flex-wrap: wrap;
    }
    .lightbox-img-container {
        width: 37.5rem;
        height: 37.5rem;
    }
}

@media(min-width: 736px) {
    .lightbox-screen {
        display: flex;
        align-items: center;
    }
    .lightbox-container {
        width: 73rem;
        height: 39rem
    }
    .lightbox-img-container {
        width: 39rem;
        height: 39rem;
        order: -1;
    }
}

@media(min-width: 850px) {
    .lightbox-container {
        width: 83rem;
        height: 50rem;
        flex-wrap: wrap;
    }
    .lightbox-img-container {
        width: 50rem;
        height: 50rem;
    }
}

@media(min-width: 1024px) {
    .lightbox-container {
        width: 100rem;
        height: 55rem;
        flex-wrap: wrap;
    }
    .lightbox-img-container {
        width: 55rem;
        height: 55rem;
    }
}